body {
  background-color: #100c01;
}

.container.body {
  background-color: #fdfbf5;
  padding: 0;
}

.container.text-center {
  background-color: #fdfbf5;
  padding: 2rem 0 0 0;
}

header {
  position: sticky;
  top: 0;
  padding: 2rem 1rem;
  width: 100%;
  z-index: 999;
  background-color: orange;

}

main {
  margin: 0 2rem;
  width: auto;
  position: static;
}

.kistabla {
  background-color: rgb(219, 225, 225);
  border-radius: 2%;
  padding: 1rem;
  margin: 5px;
  width: 47%;
}

.megnevezes {
  display: flex;
  font-family: "Permanent Marker", cursive;
  justify-content: center;
  padding-bottom: 15%;

}

table {
  justify-content: space-around;
  text-align: justify;
}

#tablediv {
  width: 100%;
  overflow: scroll;
}

input[type="submit"] {
  color: black;
  background-color: orange;
  font-weight: 600;
  border: 0 none orange;
  border-radius: 5px;
  padding: 6px;
}
input#felhasznalo, input#jelszo, input#nev{
  max-width: 13rem;
}
a {
  text-decoration: none;
}

@media (max-width: 1105px) {
  #table {
    width: fit-content;
  }
  .container.body {
    max-width: 95%;
  }
  .kistabla,
  .col-6 {
    width: 100%;
    flex: 0 0 auto;
  }
}
@media (max-width: 355px) {
  #table {
    width: fit-content;
  }
  .container.body, body {
    width: -moz-fit-content;
    width: -webkit-fit-content; 
    width: fit-content;
  }
  .kistabla,
  .col-6 {
    width: 100%;
    flex: 0 0 auto;
  }
}


.sidebar {
  padding: 2rem 0;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 15%), 0 2px 10px 0 rgb(0 0 0 / 15%);
  width: fit-content;
  z-index: 600;
}

#sidebarLeft {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

#sidebarRight {
  position: sticky;
  right: 0;
  top: 0;
  height: fit-content;
  margin: 0;
  width: fit-content;
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

input[disabled],
select[disabled] {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: default;
}

pre {
  display: none;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.img-responsive {
  max-width: 50%;
  height: auto;
}
.highlight {
  background-color: yellow;
  padding: 2px 5px; 
  border-radius: 6px;
}